body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
* {
  box-sizing: border-box;
}
.error-field,
.success-field {
  position: fixed;
  right: 2%;
  top: 2%;
  border: 0.1rem solid red;
  box-shadow: 0 0 5px 0 red;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: red;
  animation: opac-low 3s forwards;
  opacity: 1;
  z-index: 999;
  background-color: #0000;
}
@keyframes opac-low {
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.success-field {
  box-shadow: 0 0 5px 0 green;
  border-color: green;
  color: green;
}
table {
  margin-top: 70px;
  margin-bottom: 10px;
}

form {
  margin-top: 70px;
}
ul.success li {
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  list-style: none;
}

ul.info li {
  list-style: none;
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid rgb(0, 110, 255);
  border-radius: 4px;
  color: rgb(0, 110, 255);
}

ul.error li {
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  list-style: none;
}
